<% site.posts.forEach(function(post){ %>
<li><a href="<%- post.path %>">
		<%- post.title %></a></li>
<br />
<% }) %>

<div class="container-fluid">
	<div class="overflow-hidden">
		<div class="overflow-visible">

			<!-- first section (home)-->
			<div class="row">
				<div class="homeSection col col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<h1 id="homeTitle">
						<%- config.title %>
					</h1>
				</div>
			</div>
			<!-- end of first section -->
			<!-- second section (about) -->
			<div class="row">
				<div class="aboutSection col col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="col col-sm-5 col-md-5 col-lg-5 col-xl-5" style="text-align: -webkit-right;" data-aos="fade-right"
					 data-aos-offset="120" data-aos-easing="ease-in-sine" data-aos-duration="500">
						<div class="aboutTitleBox">
							<h1 id="aboutTitle">About</h1>
						</div>
					</div>
					<div class="col col-sm-7 col-md-7 col-lg-7 col-xl-7" style="padding-top: 2.5%; margin-left: 5%;">
						<div class="aboutParagraph" data-aos="fade-left" data-aos-offset="120" data-aos-easing="ease-in-sine"
						 data-aos-duration="500">
							<p id="aboutParagraph">
								I am currently a senior at Purdue University working towards a Bachelor’s degree in Computer Graphics
								Technology
								with a focus in Web Development and Design. I am also minoring in Film and Video studies. My interests are
								graphics, web design and user experience.</p>
						</div>
						<div class="aboutParagraph" data-aos="fade-up-left" data-aos-offset="120" data-aos-easing="ease-in-sine"
						 data-aos-duration="700">
							<h3 id="skillsTitle">Skills</h3>
							<p id="skillsParagraph">
								Web Design<br />
								Front-End Dev<br />
								Graphic Designer</p>
						</div>
						<br />
					</div>
				</div>
			</div>
			<!-- end of second section -->
			<!-- third section (project) -->
			<div class="row">
				<div class="projectSection col col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="row">
						<div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<h1 id="projectTitle">Projects</h1>
						</div>
					</div>
					<div class="row">
						<div class=" col col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="card-deck">
								<div class="card">
									<img class="card-img-top" src="images/seniorProject.png" alt="Card image cap">
									<div class="overlayCard">
										<div class="overlayCardText">Senior Project</div>
									</div>
								</div>
								<div class="card">
									<img class="card-img-top" src="images/dyslexyiaHome.png" alt="Card image cap">
									<div class="overlayCard">
										<div class="overlayCardText">Portfolio Website</div>
									</div>
								</div>
								<div class="card">
									<img class="card-img-top" src="images/ursJack.png" alt="Card image cap">
									<div class="overlayCard">
										<div class="overlayCardText">Learning Disability Website</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br />
					<br />
					<div class="row">
						<div class=" col col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="card-deck">
								<div class="card">
									<img class="card-img-top" src="images/anthroBubbles.png" alt="Card image cap">
									<div class="overlayCard">
										<div class="overlayCardText">Galaxie Website</div>
									</div>
								</div>
								<div class="card">
									<img class="card-img-top" src="images/anthroBubbles.png" alt="Card image cap">
									<div class="overlayCard">
										<div class="overlayCardText">Anthropology Bubbles</div>
									</div>
								</div>
								<div class="card">
									<img class="card-img-top" src="images/ursJack.png" alt="Card image cap">
									<div class="overlayCard">
										<div class="overlayCardText">Ignite the Night Invitation</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br />
					<br />
					<span id="more">
						<div class="row">
							<div class=" col col-sm-12 col-md-12 col-lg-12 col-xl-12">
								<div class="card-deck">
									<div class="card">
										<img class="card-img-top" src="images/anthroBubbles.png" alt="Card image cap">
										<div class="overlayCard">
											<div class="overlayCardText">Walgreen's Mammogram Campaign</div>
										</div>
									</div>
									<div class="card">
										<img class="card-img-top" src="images/anthroBubbles.png" alt="Card image cap">
										<div class="overlayCard">
											<div class="overlayCardText">Susan G. Komen Social Media</div>
										</div>
									</div>
									<div class="card">
										<img class="card-img-top" src="images/ursJack.png" alt="Card image cap">
										<div class="overlayCard">
											<div class="overlayCardText">Leasure Graphic Design Projects</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br />
						<br />
						<div class="row">
							<div class=" col col-sm-12 col-md-12 col-lg-12 col-xl-12">
								<div class="card-deck">
									<div class="card">
										<img class="card-img-top" src="images/anthroBubbles.png" alt="Card image cap">
										<div class="overlayCard">
											<div class="overlayCardText">Ursula & Jack's Engagement Photos</div>
										</div>
									</div>
									<div class="card">
										<img class="card-img-top" src="images/anthroBubbles.png" alt="Card image cap">
										<div class="overlayCard">
											<div class="overlayCardText">Photography</div>
										</div>
									</div>
									<div class="card">
										<img class="card-img-top" src="images/ursJack.png" alt="Card image cap">
										<div class="overlayCard">
											<div class="overlayCardText">Films</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br />
						<br />
					</span>
					<button onclick="myFunction()" id="myBtn">Read More</button>
				</div>
			</div>
			<footer>
			</footer>
			<!-- end of third section -->


		</div>
	</div>
</div>

<script>

	function myFunction() {
		var moreText = document.getElementById("more");
		var btnText = document.getElementById("myBtn");

		if (moreText.style.display === "none") {
			btnText.innerHTML = "Read more";
			moreText.style.display = "none";
		} else {
			btnText.style.display = "none";
			moreText.style.display = "inline";
		}
	}</script>