<!DOCTYPE html>
<html lang="en">

<head>
	<%- partial('_partial/header')%>
	<%- partial('_partial/menu') %>

</head>

<body>
	<%- body %>
	<h2>footer</h2>

</body>
<%- partial('_partial/footer')%>

</html>