<!-- start of footer -->
<div class="footer">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
			<p>© 2018 by Elizabeth Cauffiel</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
			<h6>Contact</h6>
			<p><a href="#">Download Resume</a></p>
			<p><a href="mailto:ecauffie@purdue.edu" target="_top">ecauffie@purdue.edu</a>
			</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
			<h6>Social</h6>
			<p><a href="#">LinkedIn</a></p>
			<p><a href="#">Github</a></p>
			<p><a href="#">Youtube</a></p>
		</div>
	</div>
</div>
<!-- end of footer -->
<!-- Optional JavaScript -->
<!-- aos instead of popper, they must have changed names or something-->
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>
	AOS.init();
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
 crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
 crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
 crossorigin="anonymous"></script>