<head>
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<link rel="stylesheet" href="bower_components/aos/dist/aos.css" />
	<script src="bower_components/aos/dist/aos.js"></script>

	<!-- favicon -->
	<link rel="icon" href="images/favicon.png" type="image/gif" sizes="16x16">


	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, shrink-to-fit=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	 crossorigin="anonymous" />

	<!-- Custom CSS -->
	<%- css('css/index.css') %>

	<!-- home page css -->
	<!-- <link rel="stylesheet" href="styles/index.css" /> -->
	<!-- fonts -->
	<link rel="stylesheet" href="https://use.typekit.net/fcf7nql.css">
	<title>Elizabeth Cauffiel</title>

</head>